@font-face {
   font-family: "NeoSansPro";
   src: url("fonts/NeoSansProRegular.OTF") format("opentype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "NeoSansProIt";
   src: url("fonts/NeoSansProBoldIt.OTF") format("opentype");
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: "NeoSansPro";
   src: url("fonts/NeoSansProBold.OTF") format("opentype");
   font-weight: bold;
   font-style: normal;
}

html,
body {
   width: 100%;
   height: 100%;
   margin: 0;
   background-color: #1a1a2e;
   background: radial-gradient(66.5% 221.21% at 136.03% -61.44%, rgba(161, 155, 217, 0.4) 0%, rgba(161, 155, 217, 0) 92.09%), radial-gradient(93.54% 126.91% at 29.15% -56.29%, rgba(233, 69, 96, 0.7) 0%, rgba(233, 69, 96, 0) 92.09%), radial-gradient(86.19% 101.84% at -17.13% -24.8%, rgba(0, 162, 254, 0.7) 0%, rgba(0, 162, 254, 0) 92.09%), #1a1a2e;
   width: 100%;
   height: 100%;
   color: white;
   font-family: NeoSansPro, sans-serif;
   overflow: hidden;
}

a {
   color: inherit;
}

button {
   text-decoration: none;
   border: none;
   font-family: NeoSansPro, sans-serif;
}

h1 {
   font-size: 38px;
   margin-block-end: 0;
   margin-block-start: 0;
}

.home {
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.title {
   display: flex;
   gap: 16px;
   justify-content: center;
   align-items: center;
   padding: 20px 0px;
}

.title img {
   height: 48px;
   padding-bottom: 2px;
}

.button {
   font-style: italic;
   color: white;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 22px;
   font-weight: bold;
   padding: 20px 30px;
   border-radius: 999px;
   background: #6cb928;
   background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.6) 0, transparent 30%);
   transition: all 200ms;
   -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
   user-select: none; /* Standard syntax */
   text-align: center;
}

.button:hover {
   transform: scale(1.1);
   transition: all 200ms;
}

.button:active {
   transform: scale(1);
   transition: all 200ms;
}

.button-2 {
   font-style: italic;
   color: white;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 18px;
   font-weight: bold;
   padding: 14px 30px;
   text-align: center;
}

#closeModal {
   font-style: italic;
   color: white;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 18px;
   font-weight: bold;
   padding: 20px 60px;
   border-radius: 999px;
   background: #3f3f49;
   text-align: center;
}

.generateButton {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: fixed;
   bottom: 30px;
   gap: 30px;
}

.container {
   margin: 40px 0px;
   display: flex;
   justify-content: center;
   font-size: 48px;
   gap: 20px;
   align-items: center;
}

#loader {
   display: none;
   justify-content: center;
}

#flag {
   height: 46px;
   aspect-ratio: 3 / 2;
   border-radius: 8px;
   object-fit: cover;
}

footer {
   color: #ffffff99;
   position: absolute;
   right: 30px;
   bottom: 30px;
}

.toolsbar > form {
   display: flex;
   gap: 30px;
   justify-content: center;
}

.toolsbar-mobile {
   display: none;
}

form div {
   display: flex;
   align-items: center;
   gap: 8px;
}

.result {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
}

.flex-item {
   align-items: center;
   gap: 8px;
}

.prevent-select {
   -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
   user-select: none; /* Standard syntax */
}

.result-p2 {
   display: flex;
   gap: 30px;
}

input {
   width: 18px;
   height: 18px;
}

input:checked {
   accent-color: #7950e5;
}

.flex-center {
   display: flex;
   justify-content: center;
}

.modal {
   background-color: rgba(16, 16, 27, 0.9);
   position: fixed;
   width: 100vw;
   height: 100vh;
   left: 0;
   top: 0;
   z-index: -1;
   backdrop-filter: blur(10px);
   opacity: 0;
}

.modal.open {
   opacity: 1;
   z-index: 999;
}

.modal-inner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 100px;

   margin-top: 20vh;
}

.modal-inner form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 20px;
   transform: scale(1.3);
}

@media screen and (max-width: 800px) {
   .title {
      flex-direction: column;
      padding-bottom: 0px;
      gap: 12px;
      text-align: center;
      transform: scale(0.9);
   }

   .container {
      text-align: center;
      flex-direction: column;
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 20px;
   }

   .button {
      position: fixed;
      bottom: 30px;
   }

   .result-p2 {
      flex-direction: column;
      gap: 10px;
   }

   footer {
      width: 100%;
      position: fixed;
      right: inherit;
      text-align: center;
      display: flex;
      justify-content: center;
   }
   .toolsbar {
      display: none;
      visibility: hidden;
   }
   .toolsbar-mobile {
      display: block;
   }

   .generateButton {
      bottom: 120px;
   }

   footer {
      display: none;
   }

   .footer {
      position: fixed;
      bottom: 50px;
   }
}

/* CSS LOADER */

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

.svg-calLoader {
   width: 230px;
   height: 230px;
   transform-origin: 115px 115px;
   animation: 1.4s linear infinite loader-spin;
}

.cal-loader__plane {
   fill: white;
}

.cal-loader__path {
   stroke: #ffffff;
   animation: 1.4s ease-in-out infinite loader-path;
}

@keyframes loader-spin {
   to {
      transform: rotate(360deg);
   }
}
@keyframes loader-path {
   0% {
      stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
   }
   50% {
      stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
   }
   100% {
      stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
   }
}
